{
    "env": {
        "browser": true
    },
    "globals": {
        "angular": true
    },
    "rules": {
        "no-alert": 0,
        "camelcase": 2,
        "curly": 2,
        "default-case": 2,
        "semi": [2, "always"],
        "no-dupe-keys": 2,
        "no-dupe-args": 2,
        "no-redeclare": 2,
        "no-var": 0,
        "no-eval": 1
    }
}